@media screen and (min-width: 768px) {
    .Doordash {
        margin: auto;
        width: 954px;
        left: 243px;
        top: 111px;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        padding: 18px 196px 18px 196px;
    }
    .app {
        background: #E5E5E5
    }
    .Breadcrumb {
        background: inherit;
    }
    .DoorDash1 {
        background: url('./DoorDash1.png') no-repeat;
        width: 560px;
        height: 250px;
        padding: 4px;
    }
    .DoorDash2 {
        background: url('./DoorDash2.png') no-repeat;
        width: 560px;
        height: 250px;
        padding: 4px;
    }
    .Doordash iframe {
        display: flex;
        margin-left: -112px;
    }
}

@media screen and (max-width: 767px) {
    .Doordash {
        padding: 28px;
    }
    .Doordash iframe {
        width: 100%;
    }
}