    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=submit] {
        width: 100%;
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .contact-form {
        width: 467px;
        float: right;
        background-color: white;
        padding: 24px 51px 0px 51px;
        height: 788px;
        vertical-align: auto;
    }
    
    .error {
        color: red;
        margin-top: 0px;
    }
    
    .Contact .Breadcrumb {
        background: none;
    }
    
    [type=checkbox] {
        margin: 4px;
    }
    
    @media screen and (min-width: 768px) {
        .Contact {
            background: url('./FlowerWallpaper.png') no-repeat;
            background-size: cover;
        }
        .contactImage {
            background: url('./ContactImage.png');
            width: 487px;
            height: 788px;
        }
        .flower-container {
            background: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
    @media screen and (max-width: 767px) {
        .contact-form {
            padding-left: 65px;
        }
    }