.Footer {
    background: #FFEFD1;
    height: 200px;
    font-family: Mulish;
    padding-left: 96px;
}

.Footer nav {
    padding: 24px;
}

.Footer a {
    text-decoration: none;
    color: black;
}

.Footer nav ul {
    padding-left: 0px;
}

.Footer nav ul li {
    list-style-type: none;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    text-align: left;
}

.Footer strong {
    padding: 15px;
    padding-bottom: 60px;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    vertical-align: bottom;
}

.Footer p {
    font-size: 15px;
    line-height: 19px;
    vertical-align: bottom;
}

@media screen and (min-width: 768px) {
    .Footer div {
        display: inline-block;
    }
    .Footer .SocialMedia {
        float: right;
        padding-right: 128px;
        padding-top: 24px;
    }
    .Footer .SocialMedia img {
        display: block;
        padding: 0 12px 0 12px;
    }
    .Footer .SocialMedia p {
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 19px;
    }
    .Footer .sitemap {
        margin: 12px;
    }
    .mobile.text {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .mobile {
        background: url("https://lh3.googleusercontent.com/mhMDSJwxLjGo7DcoO380BCX3esQDYbmJ5_gyrgBmEK1aGQ68atGrLE9Xdsmmogd2X4aL3ImlBmO7r62Vq5sFIIKpNy8aNNofN8MO6X0VCRLIlmn4dxVFZSRL6d9SPweBBh_824-6H5TEN3Y7lJzn5hu23lmIKZLw4pTIU7Gu_tD2zioSQhfNJWWzIT20dQirkTjNoGF3RLG5ueFezDFFwQ9JKzYL_M2fsmxqlK3YIZbKGIyPRJFO2pLHXNJV3Pl68tlz5uvs_bpLTnEWPovKBKpZhvC57cFW4hlno1wbjM3hAW3uXLs0HP3TxtKtO6et4P6gX8AbjWCdNCy6tgqH4W0ZtlDYZ8VwkcI1twG5OdEJ2kGpKTD5DQ-XAmFkfQ2Q9M3ZPoTADNslSZT30-VaM0mQ6TZpNvTOL1uzGU5T60bWZdAmGgsvXdg2pawlXwSY_A36lGXeawTHgR4fl-FAqUdfmHzlXN4MMUQBqkll6Ko97TUycJPKNJ5n-LG6N2ry3cBcvS1MI3LO5MD3GN-ugFlioFhOYDmK4JPa65BtylrA4Ok-gh3YHjIEoHeTWiSE0XwKTGciq6q3WrZR02k07TJfnIEWT3NvDjjJiqYu-5YmlYWoc-ap_v5fZoaiR0UFVIPirX7IeuuLBi8WfIauW0oW_13ZXV1IXWfhVwkNolZtefS04wHXwsa7KYroRn94AojibOmbT-E_-ZMB0_D9zGziTA=w358-h201-no?authuser=0");
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        width: 100%;
    }
    .Footer {
        padding-left: 0px;
        background: #EDEEE8;
        height: 201px;
        width: 100%;
    }
    .FooterText {
        display: none;
    }
    .Footer .SocialMedia {
        display: block;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    }
    .Footer .SocialMedia img {
        height: 25px;
        width: 25px;
        padding: 0px;
    }
    .Footer .SocialMedia div {
        display: inline-block;
        padding: 8px;
    }
    .Footer .SocialMedia p {
        display: none;
    }
    .Footer p {
        text-align: center;
        font-size: 16px;
        width: 100%;
        margin: auto;
    }
    .Footer .mobile a {
        display: block;
        font-size: 16px;
        line-height: 25px;
        height: 25px;
    }
    .Footer nav {
        padding-bottom: 0px;
    }
    .Footer ul {
        margin-bottom: 0px;
    }
    .Footer .mobile .text a {
        text-align: center;
    }
}