.Header {
    height: 64px;
    left: 0px;
    top: 0px;
    font-family: Mulish;
    background: #4A3C2F;
    font-style: normal;
    font-size: 18px;
    line-height: 22.59px;
    text-align: center;
}

.Header ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-top: 16px;
}

.Header li {
    float: right;
    list-style-type: none;
    vertical-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.Header .selected {
    border-bottom: 1px solid darkgrey;
}

.Header .brandLogo {
    float: left;
    padding-left:128px;
    padding-top:5px;
}

.Header .container {
    background: #4A3C2F;
}

.Header .nav-link {
    color: white !important;
    text-decoration: none;
    text-decoration-color: white;
}
