.Portfolio {
    background: #E5E5E5;
    padding-top: 50px;
    padding-bottom: 50px;
    display: inline-block;
    width:100%;
}

.Portfolio .main {
    float: left;
    padding-left: 200px;

}

.Portfolio .portfolio-main {
    width: 722px;
    height: 732px;
    text-align: center;
    vertical-align: middle;
}

.Portfolio .portfolio-main-background {
   background-image: url(../portfolio-main.png);
   width: 722px;
   height: 732px;
}

.Portfolio .Pellegrino {
    background-image: url(../Pellegrino.png);
    width: 270px;
    height: 220px;
}

.Portfolio .DoorDash {
    background-image: url(../DoorDash.png);
    width: 270px;
    height: 220px;
}

.Portfolio .DesignBasics {
    background-image: url(../DesignBasics.png);
    width: 270px;
    height: 220px;
}

.Portfolio .side {
    margin-left: 90px;
    margin-right:400px;
    float: right;
}

.Portfolio .side div {
    display: block;
    margin-bottom: 35px;
}

.label {
    background: #FFFFFF;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
}


.noBlur {
    position: relative;
    filter: blur(0px);
    z-index:1;
}

/* .blur {
    filter: blur(4px);
    z-index:0;
}

.blur:hover {
    filter: blur(0px);
} */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}