.Portfolio {
    background: #E5E5E5;
    padding-bottom: 50px;
    display: inline-block;
    width:100%;
}

.Portfolio .main {
    float: left;
    padding-left: 200px;

}

.Portfolio .portfolio-main {
    text-align: center;
    vertical-align: middle;
}

.Portfolio .portfolio-main-background {
   background: url(../portfolio-main.png) no-repeat;
   width: 722px;
   height: 732px;
}

.Portfolio .PellegrinoPreview {
    background-image: url(../Pellegrino.png);
    width: 270px;
    height: 220px;
}

.Portfolio .DoorDashPreview {
    background-image: url(../DoorDash.png);
    width: 270px;
    height: 220px;
}

.Portfolio .DesignBasicsPreview {
    background-image: url(../DesignBasics.png);
    width: 270px;
    height: 220px;
}

.Portfolio .side {
    float: right;
}

.Portfolio .side div {
    display: block;
    margin-bottom: 35px;
}

.label {
    background: #FFFFFF;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
}


.noBlur {
    position: relative;
    filter: blur(0px);
    z-index:1;
}

/* TODO: future feature to blur images until hover. */
/* .blur {
    filter: blur(4px);
    z-index:0;
}

.blur:hover {
    filter: blur(0px);
} */

.Portfolio .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shell {
    background: #E5E5E5;
}